// Related to WordPress core parts


// Pages and Posts 
.site-main {

	.page-header {

		.entry-title {

		}

		.taxonomy-description {
			font-style: italic;

		}
	}

	// Posts
	.post {

		.entry-header {

			.entry-title {

			}

			.entry-meta {
				color: @color_gray;
				font-style: italic;
				margin: 0 0 10px;
				font-size: 14px;

				.posted-on {

					time.updated{
						margin-left: 10px;
					}
				}
			}
		}

		.entry-content {
			 margin: 0 0 5px;
		}

		> .entry-meta {
			margin: 0 0 35px;
			overflow: hidden;

			.entry-meta-category-tag {
				float: left;

				a {
					color: @color_gray;
					font-size: 14px;
					font-style: italic;
				}

				> span {
					margin-right: 10px;
				}
			}

			.entry-meta-comment-tools {
				float: right;
			}

		}
	}



	// Pages
	.page {
		
	}
}

// Pagination
ul.pagination {

	li {

		a {
			color: @color_text;
		}

		span {
			color: @color_text;
		}

		&.active,
		&.active:hover {

			span {
				background: @bg_primary;
				border-color: @bg_primary;
				color: #fff;
			}
		}
	}

}

// Recent posts widget 
[id*="recent-posts"] {

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin:0;
			padding: 5px 0;

			a {

			}

			span {
				display: block;
				font-size: 14px;
				font-style: italic;
				color: @color_gray;
			}
		}
	}
}

// Recent Comments 
ul#recentcomments {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-style: italic;
		padding: 3px 0;
	}
}



/* Categories module */
div.en-categories {

	ul {
		margin: 0;
		padding: 0;

		li.cat-item {
			padding:0;
			border:none;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 300;
			line-height: 20px;
			list-style-type: none;
			color: #999;

			a {
				margin-right:5px;
				padding: 5px 0px;
				display: inline-block;
				color: @color_text;
				.transition(all .2s ease);
				
				&:hover {
					text-decoration:none;
					color: @color_primary;
				}
			}

			ul.children {
				padding-left:10px;
			}
		}
	}
}


/* Recents Posts */
.en-recent_posts {

	ul {
		margin:0;
		padding:0;

		li {
			list-style-type: none;
			margin: 0 0 10px;

			span.post-date {
				display: block;
				font-size: 13px;
				font-style: italic;
				color: @color_gray;
			}


		}
	}
}
